.fig{
    width: 160px;
    height: 160px;
    
    
    }
    .main_fig{
    
    width: 380px;
    height: 380px;
    
    }    
    body{
    
    background-color: white;
    
    }
    .table{
    
    width: 60px;
    height: 60px;  
     
    }
    
    .summary{
    
    font-size: medium; 
      
    }
    
    .fig1{
    width: 380px;
    height: 380px;
    padding-bottom: 20px;
    
    }  
    
    .fig2{
    width: 380px;
    height: 380px;
    padding-bottom: 20px;
    
    } 
    
    .fig3{
    width: 380px;
    height: 380px;
    padding-bottom: 20px; 
       
    }  
    
    .fig4{
    width: 380px;
    height: 380px;
    padding-bottom: 20px;
    
    }  
    
    .figA{
    
    width: 280px;
    height: 280px; 
    padding: 20px 30px;
    }
    
    h1 {
        color:black;
    }
    h2 {
        color:black;
        padding: 40px 40px;
    }
    
    h3 {
        color: black;
        padding: 40px 40px;
    }
    
    .dropdown-toggle {
    
        color: black;
        font-size: 17px;
        
    }
    
    .navbar-brand {
        color: black;
        font-size: 18px;
        float: left;
       
    }
    
    .row3-2 {
        padding: 160px;
    }
    
    
    
    
    
    
    
    
    